<%= form_with(model: city_permit, local: true) do |form| %>
  <% if city_permit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(city_permit.errors.count, "error") %> prohibited this city_permit from being saved:</h2>

      <ul>
      <% city_permit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plannumber %>
    <%= form.text_field :plannumber, id: :city_permit_plannumber %>
  </div>

  <div class="field">
    <%= form.label :propertyaddress %>
    <%= form.text_field :propertyaddress, id: :city_permit_propertyaddress %>
  </div>

  <div class="field">
    <%= form.label :reviewstatus %>
    <%= form.text_field :reviewstatus, id: :city_permit_reviewstatus %>
  </div>

  <div class="field">
    <%= form.label :reviewstatuschangeddate %>
    <%= form.datetime_select :reviewstatuschangeddate, id: :city_permit_reviewstatuschangeddate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
