<p id="notice"><%= notice %></p>

<h1>City Permits</h1>

<table>
  <thead>
    <tr>
      <th>Plannumber</th>
      <th>Propertyaddress</th>
      <th>Reviewstatus</th>
      <th>Reviewstatuschangeddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @city_permits.each do |city_permit| %>
      <tr>
        <td><%= city_permit.plannumber %></td>
        <td><%= city_permit.propertyaddress %></td>
        <td><%= city_permit.reviewstatus %></td>
        <td><%= city_permit.reviewstatuschangeddate %></td>
        <td><%= link_to 'Show', city_permit %></td>
        <td><%= link_to 'Edit', edit_city_permit_path(city_permit) %></td>
        <td><%= link_to 'Destroy', city_permit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City Permit', new_city_permit_path %>
