<p id="notice"><%= notice %></p>

<p>
  <strong>Plannumber:</strong>
  <%= @city_permit.plannumber %>
</p>

<p>
  <strong>Propertyaddress:</strong>
  <%= @city_permit.propertyaddress %>
</p>

<p>
  <strong>Reviewstatus:</strong>
  <%= @city_permit.reviewstatus %>
</p>

<p>
  <strong>Reviewstatuschangeddate:</strong>
  <%= @city_permit.reviewstatuschangeddate %>
</p>

<%= link_to 'Edit', edit_city_permit_path(@city_permit) %> |
<%= link_to 'Back', city_permits_path %>
