<%= form_with(model: permit, local: true) do |form| %>
  <% if permit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permit.errors.count, "error") %> prohibited this permit from being saved:</h2>

      <ul>
      <% permit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :notified_at %>
    <%= form.datetime_select :notified_at, id: :permit_notified_at %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :permit_address %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :permit_location %>
  </div>

  <div class="field">
    <%= form.label :city_permit_id %>
    <%= form.text_field :city_permit_id, id: :permit_city_permit_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
